.title {
    padding-top: 15vh;
    font-family: Cornerstone;
    font-size: 5em;
    color: white;
    text-align: center;
}

.home {
    color: white;
}

.home-content {
    height: 89vh;
    overflow-y: scroll;
}

.home p {
    text-align: center;
    width: max-content;
    margin: 5vh auto;
}

.home ol {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
}

.home-info-sec {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.home-info-container {
    background-color: rgba(233, 233, 233, 0.66);
    backdrop-filter: blur(10px);
    display: inline-block;
    padding: 40px 30px;
    width: 60%;
}

.home-info-content {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    text-align: left;
}

.home-info-title {
    font-size: 1.4em !important;
    padding-bottom: 20px;
}

h4 {
    margin-top: 0.5em;
}

.home-info-sec2 {
    text-align: right;
}

.home-info-sec2 img {
    margin-right: 2em;
    height: 6vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.home-blank {
    height: 8vh;
    width: 100%;
}

.home-info-icon img {
    margin-left: 0.5em;
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}