.notifications {
    display: flex;
    width: 100vw;
    height: 89vh;
}

.left-selection {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.selection {
    width: 15vw;
    height: 10vh;
    background-color: white;
    font-size: 1em;
    text-align: center;
    color: black;
    text-decoration: none;
}

.selection p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.right-display {
    background-color: white;
    width: 70%;
}

.panel {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notifications-content-container {
    margin-top: 5vh;
    background-color: #E9E9E9;
    width: 90%;
}

.notifications-title {
    font-size: 1.2em;
    padding: 5vh;
    padding-bottom: 0;
}

.notifications-content {
    font-family: PPWoodland-Ultralight;
    font-size: 1em;
    padding: 5vh;
    padding-top: 3vh;
}

.date {
    text-align: center;
    font-family: PPWoodland-Bold;
    font-size: 1em;
    margin-top: 5vh;
}

.arrow {
    opacity: 0;
    position: absolute;
    right: 70%;
    border-width: 5vh;
    border-style: solid;
    border-color: transparent white transparent transparent;
}