.map-container {
    height: 98%;
}

.pin {
    width: 2vw;
    transition: width 0.2s;
    position: relative;
    margin: 0 !important;
    cursor: pointer;
}

.indonesia {
    bottom: 34%;
    left: 45%;
}

.india {
    top: -85%;
}

.thailand {
    top: -83%;
    left: 20%;
}

.malaysia {
    top: -56%;
    left: 20%;
}

.philippines {
    top: -73%;
    left: 39%;
}

.singapore {
    top: -46%;
    left: 17%;
}