.water-pollution {
    color: white;
    text-align: center;
    height: 89vh;
    overflow-y: scroll;
}

.water-pollution>* {
    margin: 5vh 0;
}

.water-pollution-title {
    font-family: MonumentExtended-Ultrabold;
    font-size: 3em;
    margin: 9vh 0 5vh 0 !important;
}

img[alt=map] {
    height: 100%;
    margin: 0;
    margin-left: -12vw;
}

.table {
    width: 65%;
    background-color: rgba(233, 233, 233, 0.6);
    backdrop-filter: blur(10px);
    color: black;
    margin: 5vh auto;
}

.table-title {
    margin-top: 5vh;
    margin-bottom: 1vh;
    display: inline-block;
}

.table-sub {
    color: #464646;
    font-size: 0.7em;
    margin-bottom: 2vh;
}

.table-box {
    display: grid;
    grid-template: "ph oxygen"1fr"temperature turbidity"1fr / 1fr 1fr;
    gap: 3vh 3vh;
    padding-bottom: 6vh;
    padding-top: 3vh;
}

.table-box p {
    background-color: white;
    width: 75%;
    padding: 4vh;
    text-align: left;
    place-self: center;
}

.table-box p:nth-child(2) {
    grid-area: temperature;
}

.table-box p:nth-child(1),
.table-box p:nth-child(2) {
    place-self: center end;
}

.table-box p:nth-child(3),
.table-box p:nth-child(4) {
    place-self: center start;
}

.table-box img {
    width: 100%;
}