.water-program {
    color: white;
    text-align: center;
    height: 89vh;
    overflow-y: scroll;
}

.water-program *:not(br) {
    margin: 5vh 0;
}

.water-program-title {
    font-family: MonumentExtended-Ultrabold;
    font-size: 3em;
    margin: 9vh 0 5vh 0 !important;
}

.water-program p.nearest {
    font-size: 1em;
    margin: auto;
}

.water-program p {
    text-align: left;
    width: max-content;
    margin-left: 20%;
}

.instructions p {
    margin-bottom: 1.25vh;
}

.water-program ol {
    text-align: left;
    width: 50%;
    margin: auto;
}

.water-program ol li:nth-child(1) {
    margin-top: 0;
}