.weather-forecast {
    color: white;
    text-align: center;
    overflow-y: auto;
    height: 89vh;
}

.weather-forecast-title {
    font-family: MonumentExtended-Ultrabold;
    font-size: 3em;
    margin: 9vh 0 5vh 0;
}

.weather-widget-sec {
    display: inline-block;
    height: calc(100% - 25vh);
    width: 70%;
}

.weather-widget-box {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}