#root {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
    background: url(./assets/images/background.jpg) fixed 50% 10%;
    overflow: hidden;
}

#root::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #101010;
    opacity: 0.4;
    z-index: -1;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: black;
    position: relative;
    z-index: -11;
    padding: 0;
    margin: 0;
    font-family: MonumentExtended-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Cornerstone';
    src: url("./assets/fonts/Cornerstone.ttf");
}

@font-face {
    font-family: MonumentExtended-Regular;
    src: url("./assets/fonts/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: MonumentExtended-Ultrabold;
    src: url("./assets/fonts/MonumentExtended-Ultrabold.otf");
}

@font-face {
    font-family: PPWoodland-Bold;
    src: url("./assets/fonts/PPWoodland-Bold.otf");
}

@font-face {
    font-family: PPWoodland-Ultralight;
    src: url("./assets/fonts/PPWoodland-Ultralight.otf");
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}